<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %msg%n" />
        </Console>
        <File name="JournoLog" fileName="JournoViewer.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c:%L - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="JournoLog" level="debug"/>
        </Root>
        <logger name="org.apache" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="JournoLog"/>
        </logger>
        <logger name="org.apache.commons" level="warn" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="JournoLog"/>
        </logger>
        <logger name="org.apache.commons" level="warn" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="JournoLog"/>
        </logger>
        <logger name="se.alipsa" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="JournoLog"/>
        </logger>
    </Loggers>
</Configuration>